body {
    background-color: white;
}

h1,
h2,
#login-form input,
nav,
#create-event,
#profile-page,
#notifications {
    font-family: "Lexend", arial, serif;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

/*homepage*/
.calendar-base {
width: 900px;
height: 500px;
border-radius: 20px;
background-color: white;
position: relative;
z-index: -1;
color: black;
}

.year {
color: #E8E8E8;
font-size: 30px;
float: right;
position: relative;
right: 75px;
top: 20px;
font-weight: bold;
}

.triangle-left {
width: 0;
height: 0;
border-top: 5px solid transparent;
border-right: 10px solid #E8E8E8;
border-bottom: 5px solid transparent;
float: right;
position: relative;
right: 90px;
top: 36px;
}

.triangle-right {
width: 0;
height: 0;
border-top: 5px solid transparent;
border-left: 10px solid #E8E8E8;
border-bottom: 5px solid transparent;
float: right;
position: relative;
left: 20px;
top: 36px;
}

.month-color {
color: #4C4B68;
}

.months {
color: #AAAAAA;
position: relative;
left: 350px;
top: 90px;
word-spacing: 10px;
}

.month-line {
border-color: #E8E8E8;
position: relative;
top: 85px;
width: 57%;
left: 178px;
}

.days {
color: #AAAAAA;
position: relative;
font-size: 18px;
left: 355px;
top: 80px;
word-spacing: 35px;
font-weight: 600;
}

.num-dates {
float: right;
position: relative;
top: 110px;
right: 50px;
z-index: 1;
}

.first-week {
margin-bottom: 25px;
word-spacing: 55px;
}

.second-week {
margin-bottom: 25px;
word-spacing: 53px;
}

.third-week {
margin-bottom: 25px;
word-spacing: 58px;
}

.fourth-week {
margin-bottom: 25px;
word-spacing: 58px;
}

.fifth-week {
margin-bottom: 25px;
word-spacing: 56px;
}

.sixth-week {
margin-bottom: 25px;
word-spacing: 55px;
}

.active-day {
width: 35px;
height: 35px;
border-radius: 50%;
background-color: #ffcc00;
position: relative;
top: 295px;
left: 661px;
}

.white {
color: white;
}

.event-indicator {
width: 5px;
height: 5px;
border-radius: 50%;
background-color: #4C4B68;
position: relative;
top: 304px;
left: 695px;
}

.two {
position: relative;
top: 168px;
left: 535px;
}

.grey {
color: #AAAAB1;
}

.calendar-left {
width: 300px;
height: 500px;
border-radius: 20px 0px 0px 20px;
background-color: #ffcc00;
position: relative;
z-index: -1;
bottom: 500px;
color: white;
}

.hamburger {
position: relative;
top: 25px;
left: 25px;
}

.burger-line:hover, .hamburger:hover{
background-color:#ffcc00!important;
}

.burger-line {
width: 25px;
height: 3px;
background-color: white;
border-radius: 15%;
margin-bottom: 3px;
}

.num-date {
font-size: 150px;
width: 50%;
margin: 0 auto;
font-weight: 700;
}

.day {
width: 50%;
margin: 0px auto;
font-size: 30px;
position: relative;
bottom: 60px;
}

.current-events {
font-size: 15px;
position: relative;
margin-left: 25px;
bottom: 30px;
}

.posts {
text-decoration: underline dotted;
}
.posts:hover{
color:#ffcc00 !important;
}

.create-event {
font-size: 18px;
position: relative;
margin-top: 30px;
margin-left: 25px;
background-color: #ffcc00;
}

.event-line {
width: 90%;
}

.add-event {
width: 20px;
height: 20px;
padding: 0px;
border-radius: 50%;
border: solid white 2px;
position: relative;
bottom: 42px;
left: 260px;
}

.add {
font-size: 25px;
position: relative;
left: 4px;
bottom: 10px;
}

.add:hover, .create-event:hover, .add-event:hover{
color:#ffcc00 !important;
border-color: #ffcc00 !important;
}

.upcoming-events {
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Navigation Bar*/
.navbar {
    background-color: #4C4B68;
    padding: 10px 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.navbar-brand p {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 10px;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ffcc00;
}

.navbar-nav {
    margin-right: 20px;
}

.navbar-collapse {
    margin-left: 20px;
}

.navbar-toggler {
    margin-right: 20px;
}

.icon-bar {
    color: white;
    font-size: 1.5em;
}



/* Login and sign up page */

#login, #signup {
    display: flex;
    flex-direction: row;
}

#left-login, #left-signup {
    width: 50%;
    height: 100vh;
    background-size: cover;
}

#left-login {
    background-image: url("../img/login-bg.png");
}

#left-signup {
    background-image: url("../img/signup-bg.png");
}

#right-login, #right-signup {
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 40%;
}

#login-title, #signup-title {
    font-size: 30px;
    color: #4C4B68;
}

#login-form, #signup-form {
    width: 350px;
}

#login-form input, #signup-form input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Lexend", arial, serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    border-bottom-style: solid;
}

#login-form input{
    font-size: 15px;
}

.form-btn, #back-btn {
    width: 100px;
    background-color: #4C4B68;
    color: white;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.error-msg {
    color: red;
}

.error-div {
    width: 350px;
}

#click-to-signup, #click-to-login {
    text-decoration: underline;
}

#click-to-signup:hover, #click-to-login:hover {
    color: #5F5DAA;
}

.hidden {
    display: none !important;
}

/*event form*/

.event-form {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    justify-content: center;
}

input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type=time] {
    display: inline-flex;
    flex-grow: 1;
}

input[type=submit] {
    background-color: #7471CB;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Lexend", arial, serif;
}

textarea {
    height: 100px;
    resize: none;
    padding: 8px;
}

/*profile page*/
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    object-fit: cover;
}

h2, h3 {
    margin: 10px 0;
}


.organization,
.event,
.posted-event {
    background-color: #ccc;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.event-btn {
    background-color: #e0e0e0;
    color: #3b3f5c;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px; 
    border: none; /* Remove default button border */
    margin: 10px;   /* Ensure spacing around buttons */
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .event-btn:hover {
    background-color: #d0d0d0;
  }
  

#logout-button {
    background-color: #e0e0e0;
    color: #3b3f5c;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#logout-button:hover {
    background-color: #c0c0c0;
}




/*notifications page*/
.column {
    float: left;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.notif:hover {
    color: gray;
}

/*events page*/
.column-left {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.column-right {
    width: 65%;
}

input[type=text]#search {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 12px;
    background-color: white;
    background-image: url('img/search-icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}


.eventbtn {
    border-radius: 100px;
    background-color: #D9D9D9;
    padding: 15px;
    color: black;
    border: none;
    display: inline-block;
    width: fit-content;
}

.morebtn {
    border-radius: 100px;
    background-color: #4C4B68;
    padding: 15px;
    color: white;
    border: none;
    display: inline-block;
    width: fit-content;
}





/* Notifications Page */






/* Events Page */
.event-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    transition: 200ms ease-in-out;
    position: relative;
}

.event-card:hover {
    background-color: #f8f9fa;
    border-radius: 10px;
}

.event-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.event-card-body {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.event-card-details {
    font-size: 0.9rem;
    color: #555;
}

.badge {
    background-color: #7471CB;
    color: #fff;
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

.followers {
    font-size: 0.8rem;
    color: #888;
}

.bookmark-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bookmark-btn i {
    font-size: 1rem;
    color: #000;
}

#searchInput,
#timeFilter,
#majorFilter,
#eventTypeFilter {
    padding: 10px;
    font-size: 1rem;
}

#searchInput {
    margin-top: 0;
}

/*org details*/
#join-organization-btn {
    font-family: "Lexend", arial, serif;
    border-radius: 30px;
    background-color: #7471cb;
    align-self: end;
    margin: 66px 30px 0 0;
    padding: 19px 51px;
    font: 400 22px Lexend, sans-serif;
    color: #fff;
    justify-content: center;
}

.join-section {
    align-self: end;
    display: flex;
    margin-top: 26px;
    flex-direction: column;
  }

  .org-details {
    display: flex;
    gap: 20px;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    justify-content: space-between;
    color: #000;
  }

  .org-name {
    font-family: Lexend, sans-serif;
    align-self: end;
    margin-top: 37px;
    width: 310px;
  }

  .org-logo {
    object-fit: auto;
    object-position: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
  }

  .org-bio {
    border-radius: 30px;
    background-color: #d9d9d9;
    margin-top: 17px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 110px 60px 80px;
    font: 300 28px Lexend, sans-serif;
    color: #000;
  }

